<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller lighter blue">{{title.getTitle()}}</h3></div>
</div>
<div class="row">
  <div class="col-xs-12">
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">To </label>
        <div class="col-sm-9">
          {{item.to}}
        </div>
      </div>

    <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right">Subject </label>
      <div class="col-sm-9">
        {{item.subject}}
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right">Message </label>
      <div class="col-sm-9" [innerHTML]="item.content">
      </div>
    </div>

  </div>
</div>
