<div *ngIf="servicing" class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select teller to redirect ticket to</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <button *ngFor="let teller of tellers" class="btn  btn-space" [ngClass]="servicing.teller && servicing.teller.id===teller.id ? 'btn-primary':''" (click)="selectTeller(teller)" >
            {{teller.name}} - {{teller.service? teller.service.name :''}}
          </button>
        <hr>
        <h5 class="modal-title">Redirect reason</h5>
        <hr/>
        <button *ngFor="let closingReason of closingReasons" class="btn  btn-space" [ngClass]="servicing.closingReason && servicing.closingReason.id===closingReason.id ? 'btn-primary':''" (click)="selectReason(closingReason)">
          {{closingReason.name}}
        </button>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn" [ngClass]="servicing.closingReason && servicing.closingReason.id?'btn-primary':''" [disabled]="!servicing.closingReason || !servicing.closingReason.id" data-dismiss="modal" (click)="transfer()">Redirect</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="servicing" class="modal fade" id="closeReasonModal" tabindex="-1" role="dialog" aria-labelledby="closeReasonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="closeReasonModalLabel">Select reason for closing ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button *ngFor="let closingReason of closingReasons"   class="btn btn-space" (click)="servicing.closingReason = closingReason"
                [ngClass]="servicing.closingReason && servicing.closingReason.id ===closingReason.id ? 'btn-info':''">
          {{closingReason.name}}
        </button>
        <hr>
        <h5 class="modal-title">Rate Queue System</h5>
        <hr/>
        <button  class="btn btn-space" [ngClass]="servicing.serviceRating ==='ExtremelyPoor' ? 'btn-info':''" (click)="selectServiceRating('ExtremelyPoor')">
          Extremely Poor
        </button>
        <button  class="btn btn-space" [ngClass]="servicing.serviceRating ==='Poor' ? 'btn-info':''" (click)="selectServiceRating('Poor')">
        Poor
        </button>

        <button  class="btn btn-space" [ngClass]="servicing.serviceRating ==='Average' ? 'btn-info':''" (click)="selectServiceRating('Average')">
          Average
        </button>

        <button  class="btn btn-space" [ngClass]="servicing.serviceRating ==='Good' ? 'btn-info':''" (click)="selectServiceRating('Good')">
          Good
        </button>

        <button  class="btn btn-space" [ngClass]="servicing.serviceRating ==='Excellent' ? 'btn-info':''" (click)="selectServiceRating('Excellent')">
          Excellent
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn"   data-dismiss="modal">Close</button>
        <button type="button" class="btn" [ngClass]="servicing.serviceRating && servicing.closingReason ? 'btn-info':''"  (click)="close(servicing)" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <div class="row" *ngIf="servicing">
      <div class="col-xs-12 text-center">
        <h1 class="header smaller lighter green">Ticket # <strong>{{servicing.reference}}</strong> &nbsp; </h1>
        <h3 class="lighter green"><strong>{{servicing.service.name}}</strong></h3>
        <h3 class="lighter green">{{servicing.status}}</h3>
        <h3 class="lighter blue" *ngIf="timeSpan && timeSpan.seconds">{{timeSpan.hours+' hours '+timeSpan.minutes+' minutes '+timeSpan.seconds+' seconds'}}</h3>
        <button class="btn btn-app btn-primary" (click)="call(servicing)">
          <i class="ace-icon fa fa-microphone"></i>
          Re-Call
        </button>
        <button class="btn btn-app btn-primary" data-toggle="modal" data-target="#transferModal" >
          <i class="ace-icon fa fa-share"></i>
          Redirect
        </button>

        <button class="btn btn-app btn-success" data-toggle="modal" data-target="#closeReasonModal">
            <i class="ace-icon fa fa-check-circle"></i>
            Close
          </button>


          <button class="btn btn-app btn-default"  (click)="abandoned(servicing)">
            <i class="ace-icon fa fa-close"></i>
            Abandoned
          </button>

      </div>
    </div>
    <div class="row" *ngIf="!servicing && !usersService.hasPermission('PERM_ADMIN') || !usersService.hasPermission('PERM_BRANCHADMIN')">


      <div class="text-center" *ngIf="currentUser">

        <div class="form-group">

            Select Priority Ticket
            <select appTicket [branch]="currentUser.branch" [(ngModel)]="nextTicket" name="nextTicket"></select>
        </div>


        </div>
    </div>
   <div class="row" *ngIf="nextTicket && !servicing">
      <div class="col-xs-12 text-center">
        <h3 class="header smaller lighter orange">Next Ticket # <strong>{{nextTicket.reference}}</strong> &nbsp;
          <h3 class="lighter green"><strong>{{nextTicket.service.name}}</strong></h3>
          <button class="btn btn-app btn-primary" (click)="call(nextTicket)">
            <i class="ace-icon fa fa-microphone"></i>
            Call
          </button>
        </h3>
      </div>
    </div>
    <div class="row" *ngIf="usersService.hasPermission('PERM_ADMIN') || usersService.hasPermission('PERM_BRANCHADMIN')">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Date Range</label>

          <div class="col-sm-9">
											<span class="input-icon">
												<input type="text" placeholder="{{this.reportForm.start}}" [(ngModel)]="start" name="start"
                               ngbDatepicker #d="ngbDatepicker" (ngModelChange)="search();refreshGraph();" (click)="d.toggle()"
                               id="form-field-icon-1">
												<i class="ace-icon fa fa-calendar blue"></i>
											</span>

            <span class="input-icon input-icon-right">
												<input type="text" placeholder="{{this.reportForm.end}}" [(ngModel)]="end" name="end"
                               ngbDatepicker #d2="ngbDatepicker" (ngModelChange)="search();refreshGraph();" (click)="d2.toggle()"
                               id="form-field-icon-2">
												<i class="ace-icon fa fa-calendar green"></i>
											</span>
          </div>
        </div>
        <div class="form-group" *ngIf="usersService.hasPermission('PERM_ADMIN')">
          <label class="col-sm-3 control-label no-padding-right">Customer Care Center</label>
          <div class="col-sm-9">
            <select class="col-xs-6 col-sm-5" appBranch [(ngModel)]="reportForm.branch" (onSelect)="search();refreshGraph();"
                    name="branch"></select>
          </div>
        </div>
        <div class="form-group" *ngIf="reportForm.branch">
          <label class="col-sm-3 control-label no-padding-right">Service</label>
          <div class="col-sm-9">
            <select class="col-xs-6 col-sm-5" appService [(ngModel)]="reportForm.service" [branchId]="reportForm.branch.id"
                    (onSelect)="search();refreshGraph();" name="service"></select>
          </div>
        </div>



      </form>
    </div>
    <div class="row" *ngIf="usersService.hasPermission('PERM_ADMIN') || usersService.hasPermission('PERM_BRANCHADMIN')">
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"></label>
        <div class="col-sm-9">
          <div class="btn-group">
            <button type="button" class="btn" [ngClass]="reportForm.status==='SERVICED' ? 'btn-info':'btn-success'"
                    (click)="reportForm.status='SERVICED';refreshGraph();keyword='SERVICED'; search()">SERVICED
            </button>
            <button type="button" class="btn" [ngClass]="reportForm.status==='WAITING' ? 'btn-info':'btn-success'"
                    (click)="reportForm.status='WAITING';refreshGraph();keyword='WAITING'; search()">WAITING
            </button>
            <button type="button" class="btn" [ngClass]="reportForm.status==='ABANDON' ? 'btn-info':'btn-success'"
                    (click)="reportForm.status='ABANDON';refreshGraph();keyword='ABANDON'; search()">ABANDON
            </button>
            <button type="button" class="btn" [ngClass]="reportForm.status==='SERVICING' ? 'btn-info':'btn-success'"
                    (click)="reportForm.status='SERVICING';refreshGraph();keyword='SERVICING'; search()">SERVICING
            </button>
            <button type="button" class="btn btn-success"
                    (click)="reportForm.status=null;refreshGraph();keyword=''; search()">Clear
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="usersService.hasPermission('PERM_ADMIN') || usersService.hasPermission('PERM_BRANCHADMIN')">
      <div class="col-sm-6">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
              <i class="ace-icon fa fa-pie-chart orange"></i>
              {{date| date: 'dd MMM yyyy HH:mm'}} queue status
            </h4>

            <div class="widget-toolbar">
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body">
            <div class="widget-main no-padding">
              <canvas baseChart
                      [data]="branchChartData"
                      [labels]="branchChartLabels"
                      [colors]="branchColors"
                      [chartType]="'bar'">

              </canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6" >
        <div class="widget-box transparent">
          <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
              <i class="ace-icon fa fa-table orange"></i>
              {{date| date: 'dd MMM yyyy HH:mm'}} queue status
            </h4>

            <div class="widget-toolbar">
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body">
            <div class="widget-main no-padding">
              <div>
                <div id="dynamic-table_wrapper_branch" class="dataTables_wrapper form-inline no-footer">
                  <table id="dynamic-table_branch" class="table table-striped table-bordered table-hover dataTable no-footer"
                         role="grid" aria-describedby="dynamic-table_info">
                    <tbody>
                    <tr role="row" class="odd" *ngFor="let serviceCount of serviceCount">
                      <td *ngIf="serviceCount.id">
                        {{serviceCount.id.name}}
                      </td>

                      <td *ngIf="serviceCount.id">
                        {{serviceCount.count}}
                      </td>
                    </tr>
                    <tr *ngIf="!serviceCount || serviceCount.length< 1">
                      <td colspan="2" class="text-center">
                        No results found
                      </td>
                    </tr>

                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="(usersService.hasPermission('PERM_ADMIN') || usersService.hasPermission('PERM_BRANCHADMIN')) && diplayTickets">
      <div class="col-xs-12">
        <h3 class="header smaller lighter blue" *ngIf="!currentUser">{{title.getTitle()}}</h3>
<!--        <div class="clearfix">-->
<!--          <div class="pull-right tableTools-container">-->
<!--            <button routerLink="/dashboard/ticket" class="btn btn-warning">Create New</button>-->
<!--          </div>-->
<!--        </div>-->
        <div class="table-header">

<!--          <label class="pull-left" *ngIf="usersService.hasPermission('PERM_ADMIN')">Filter by Customer Care Center-->
<!--          </label>-->
<!--          <select  class="form-control"  *ngIf="usersService.hasPermission('PERM_ADMIN')" appBranch [(ngModel)]="branch" (onSelect)="search()"-->
<!--                   name="branch"></select>-->
          <label class="pull-right">
            <input type="search" style="margin-top: 5px"  [(ngModel)]="keyword" (ngModelChange)="search()"
                   class="form-control input-sm "
                   placeholder="Search"
                   aria-controls="dynamic-table">
          </label>
        </div>

        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
          <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">

            <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer"
                   role="grid" aria-describedby="dynamic-table_info">
              <thead>
              <tr role="row">
                <th class="" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="Domain: activate to sort column ascending">#
                </th>
                <th class="" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="Domain: activate to sort column ascending">Customer Care Center
                </th>
                <th class="hidden-480" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="Domain: activate to sort column ascending">Teller
                </th>
                <th class="hidden-480" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="Domain: activate to sort column ascending">Generated Date
                </th>

                <th class="hidden-480" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="Domain: activate to sort column ascending">Service Date
                </th>


                <th class="" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="Domain: activate to sort column ascending">Service
                </th>



                <th class="" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="Domain: activate to sort column ascending">Status
                </th>

<!--                <th class="" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"-->
<!--                    aria-label="Domain: activate to sort column ascending"  *ngIf="usersService.hasPermission('PERM_ADMIN')">Edit-->
<!--                </th>-->
<!--                <th class="" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"-->
<!--                    aria-label="Domain: activate to sort column ascending"  *ngIf="usersService.hasPermission('PERM_ADMIN')">Delete-->
<!--                </th>-->
              </tr>
              </thead>

              <tbody>


              <tr role="row" class="odd" *ngFor="let ticket of results">
                <td> {{ticket.reference}}</td>
                <td> {{ticket.branch?ticket.branch.name:'-'}}</td>
                <td class="hidden-480"> {{ticket.teller?ticket.teller.name:'-'}}</td>
                <td class="hidden-480">
                  {{ticket.createDate| date: 'dd MMM yyyy HH:mm'}}
                </td>
                <td class="hidden-480">
                  {{ticket.serviceDate| date: 'dd MMM yyyy HH:mm'}}
                </td>
                <td> {{ticket.service?ticket.service.name:'-'}}</td>

                <td> {{ticket.status}}</td>
<!--                <td class="text-center"  *ngIf="usersService.hasPermission('PERM_ADMIN')">-->
<!--                  <a class="green" routerLink="/dashboard/ticket/{{ticket.id}}">-->
<!--                    <i class="ace-icon fa fa-pencil bigger-130"></i>-->
<!--                  </a>-->
<!--                </td>-->
<!--                <td class="text-center"  *ngIf="usersService.hasPermission('PERM_ADMIN')">-->

<!--                      <i class="ace-icon fa fa-trash-o bigger-130 red" (click)="remove(ticket)"></i>-->

<!--                </td>-->
              </tr>
              <tr *ngIf="results.length< 1">
                <td colspan="7" class="text-center">
                  No results found
                </td>
              </tr>

              </tbody>
            </table>
            <div class="row hidden-480"  *ngIf="results.length> 0" style="background-color: #ff6d04">
              <div class="col-xs-6">
                <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">Showing {{((currentPage-1)*perPage)+1}} to {{data.numberOfElements*currentPage}} of
                  {{data.totalElements}} entries
                </div>
              </div>
              <div class="col-xs-6">
                <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                  <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage" [maxSize]="10"
                                  [rotate]="true" (pageChange)="search()"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- PAGE CONTENT ENDS -->
  </div><!-- /.col -->
</div>
