<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller lighter blue">{{title.getTitle()}}</h3></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" role="form" #itemForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group" *ngIf="usersService.hasPermission('PERM_ADMIN')">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-select-1">Customer Care Center</label>

        <div class="col-sm-9">
          <select class="col-xs-10 col-sm-5" appBranch [(ngModel)]="item.branch" name="branch" id="form-field-select-1"></select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Key</label>
        <div class="col-sm-9">
          <input type="text" id="form-field-2" [(ngModel)]="item.key" name="key" placeholder="key" class="col-xs-10 col-sm-5">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-3">Name</label>
        <div class="col-sm-9">
          <input type="text" id="form-field-3" [(ngModel)]="item.name" name="name" placeholder="Name" class="col-xs-10 col-sm-5">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-4">Location</label>
        <div class="col-sm-9">
          <input type="text" id="form-field-4" [(ngModel)]="item.location" name="location" placeholder="Location" class="col-xs-10 col-sm-5">
        </div>
      </div>

      <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
          <button class="btn btn-info" type="submit">
            <i class="ace-icon fa fa-check bigger-110"></i>
            Submit
          </button>

          &nbsp; &nbsp; &nbsp;
          <button class="btn" type="reset">
            <i class="ace-icon fa fa-undo bigger-110"></i>
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
